<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="你的包名">
  <!-- 常见权限示例：按需取舍 -->
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.SET_WALLPAPER"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <!-- Android 13+ 读取图片 -->
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/> 
	<application android:usesCleartextTraffic="true" />

  <application>
    <!-- 需要的话可在此添加 meta-data / roundIcon 等 -->
  </application>
</manifest>
